/******
600px and above
**********/
@media (min-width: 600px) {
  .banner .banner-slogan h2.main-title {
    width: 60%;
  }

  .choose-us .choose-us__content h3.sec-main-title {
    width: 500px;
    margin: 0 auto;
  }

  .choose-us .choose-us__content p.sec-description-title {
    width: 500px;
    margin: 0 auto;
  }
}

/******
800px and above
**********/

@media (min-width: 800px) {
  .intro .intro__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2.5rem;
  }

  .intro .intro__content .intro__stats {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
